<!DOCTYPE html>
<html>
<head>
    <title>월간 매출액</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>월간 매출액</h1>
    <canvas id="revenueChart"></canvas>
    <script>
        var labels = {{ labels | safe }};
        var revenues = {{ revenues | safe }};
        console.log(labels, revenues);
        var ctx = document.getElementById('revenueChart').getContext('2d');
        var revenueChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    data: revenues,
                    backgroundColor: 'pink',
                    borderColor: 'hotpink',
                    borderWidth: 1
                }]
            }
        })
    </script>
    <table border="1">
        <tr>
            <th>년 - 월</th>
            <th>월간매출액</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{  row.YearMonth }}</td>
            <td>{{ row.MonthlyRevenue }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>